<!-- <div *ngIf="this.loader.getLoading()" class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
</div> -->
<div class="container">
<div class="page-preloader" *ngIf="this.loader.getLoading()">
  <div class="loading-bar">
    <div class="loading-line"></div>
    <div class="loading-line"></div>
  </div>
  <div class="loading-message">
    <div class="loading-spinner"></div>
    <div class="loading-logo">
      <!-- <img src="assets/images/loader_gif.gif" alt=""> -->
    </div>
  </div>
</div>

</div>
