
<div *ngIf="isLoading" class="spinner-container">
  <!-- <app-spinner></app-spinner>
  <p>Verifying with backend...</p> -->
   <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-pulse"
  [fullScreen]="true"
  style="position: fixed; z-index: 9999;"
  *ngIf="isLoading">
  <p style="color: white; margin-top: 20px"> {{'Loading...' | translate}} </p>
</ngx-spinner>
</div>

<div *ngIf="!isLoading">
  <router-outlet></router-outlet>
</div>
<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-pulse"
  [fullScreen]="true"
  style="position: fixed; z-index: 9999;"
  *ngIf="isLoading">
  <p style="color: white; margin-top: 20px"> {{'Loading...' | translate}} </p>
</ngx-spinner>
<router-outlet></router-outlet> -->
