<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
  <rewrite>
    <rules>

	<rule name="redirect-api-requests" enabled="true" stopProcessing="true">
        <match url="api/(.*)"/>
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
        <action type="Rewrite" url="https://sme-api.suredemos.com/api/{R:1}" logRewrittenUrl="true"/>
    </rule>


    <rule name="Main Rule" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/" />
    </rule>

    </rules>
  </rewrite>
</system.webServer>
</configuration>
