@use 'assets/styles/base/base';
@use 'assets/styles/customs/custom-classes';
@use 'assets/styles/global/global';
@import "@ng-select/ng-select/themes/default.theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.p-datepicker-group ,.p-timepicker,.p-datepicker-buttonbar {
  background-color: white !important;
  padding: 10px !important;
}
.p-ampm-picker  {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

 .p-separator {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.ng-select.ng-select-single .ng-select-container,.ng-select-container  {
    height: 46px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}
.ng-placeholder{
  padding-top: 8px  !important;
}


.ng-select.ng-select-focused:not(.ng-select-opened)> .ng-select-container{
  border-color: #B58500 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(181, 133, 0, 0.3) !important;

}


[dir=rtl] .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-right: 7px;
    padding-left: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    gap: 4px; /* If using flex/grid layout */
}

@media (min-width: 768px) {
    [dir=rtl] .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}
.auth-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-card {
  background: white;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  max-width: 600px;
  width: 90%;
}

.icon-box {
  margin-bottom: 1.5rem;
  animation: pulse 2s infinite;
}


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}
